@font-face {
  font-family: gt;
  src: url(../assets/GTSectraDisplay-Bold.woff2);
}

@font-face {
  font-family: heebo;
  src: url(../assets/Heebo-Regular.woff2);
}

@font-face {
  font-family: heebo2;
  src: url(../assets/Heebo-Light.woff2);
}

@font-face {
  font-family: GT2;
  src: url(../assets/GTSectraDisplay-Regular.woff2);
}

@font-face {
  font-family: heebothin;
  src: url(../assets/Heebo-Thin.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "heebo";
}

main {
  position: relative;
}




section {
  min-height: 100vh;

  position: relative;
  z-index: 2;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s linear;
}



#section-1 {


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.7rem;
    padding-top: 3rem;

    .nav-elem {
      color: white;
    }

    .nav-elem:nth-child(2) {
      i {
        color: red;
      }
    }

    svg {
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    display: flex;
    gap: 5rem;


    .left,
    .right {
      width: 50%;
      /* background-color: #fff; */
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      h1 {
        font-size: 7.2rem;
        line-height: 0.9;
        text-align: right;
        padding-block: 5.8rem;
        font-family: "gt";
        color: white;
      }
    }
  }

  .bottom {
    display: flex;
    gap: 7rem;

    .left,
    .right {
      width: 50%;
    }

    .right {
      p {
        color: white;
        font-family: "heebo2";
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 100;
      }
    }
  }

  .first-line {
    width: 40rem;
    height: 0.03rem;
    background-color: rgba(255, 0, 0, 0.453);
    position: absolute;
    left: -7rem;
    transform: rotate(45deg) translate(-10rem, -14rem);
  }

  .second-line {
    width: 12rem;
    height: 0.03rem;
    background-color: rgba(255, 0, 0, 0.404);
    position: absolute;
    top: 15rem;
    right: 3rem;
    transform: rotate(-35deg) translate(-10rem, -10rem);
  }
}

#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
    margin-block: 10rem;

    .title {
      display: flex;
      gap: 4rem;
      align-items: start;
      padding-block: 2rem;
      transition: all 0.3s linear;
      opacity: 0.3;
      cursor: pointer;
      color: white;

      h1 {
        font-size: 5rem;

        font-weight: 100;
        font-family: "heebothin", Helvetica, Arial, sans-serif;
        line-height: 1;

      }

      small {

        margin-top: 0.6rem;
      }
    }

    .title:hover {
      opacity: 0.8;
    }
  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }

}


main:has(#section-2 .title[img-title="tomorrow"]:hover) #tomorrow {
  opacity: 1;
  background-color: #081126;
}

main:has(#section-2 .title[img-title="navy"]:hover) #navy {
  opacity: 1;
  background-color: #081126;
}

main:has(#section-2 .title[img-title="msi"]:hover) #msi {
  opacity: 1;
  background-color: #021033;
}

main:has(#section-2 .title[img-title="phone"]:hover) #phone {
  opacity: 1;
  background-color: #04192B;
}

main:has(#section-2 .title[img-title="kikk"]:hover) #kikk {
  opacity: 1;
  background-color: #03147D;
}

main:has(#section-2 .title[img-title="kennedy"]:hover) #kennedy {
  opacity: 1;
  background-color: #0D2835;
}

main:has(#section-2 .title[img-title="opera"]:hover) #opera {
  opacity: 1;
  background-color: #680202;
}

#section-3 {
  padding-block: 10rem;
  padding-inline: 10rem;
  position: relative;
  z-index: 0;
  isolation: isolate;
  min-height: initial;

  .top,
  .bottom {
    display: flex;
    gap: 10rem;
    width: 100%;

  }

  .top .left {
    padding-left: 5rem;

    h3{
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "gt2";
      color: rgb(255, 255, 255);
    }
  }

  .left,
  .right {
    width: 50%;
  }

  .bottom .right {
    display: flex;
    gap: 2rem;

    p {
      opacity: 0.5;
      font-weight: 200;
      font-size: 1rem;
      line-height: 2rem;
      font-family: "heebo2";
      color: rgba(255, 255, 255, 0.521);
    }
  }


}

#section-4 {

  .top,
  .bottom {
    display: flex;
    gap: 10rem;
    width: 100%;
    position: relative;
    z-index: 1;


  }

  .top .left {
    padding-left: 5rem;

    h3 {
      font-size: 2.5rem;
      font-weight: 400;
      opacity: 1;
      font-family: "gt2";
      color: white;
    }
  }

  .left,
  .right {
    width: 50%;
  }

  .bottom .right {
    display: flex;
    gap: 2rem;

    p {
      opacity: 0.5;
      font-weight: 200;
      font-size: 1rem;
      line-height: 2rem;
      font-family: "heebo2";
      color: rgba(255, 255, 255, 0.521);
    }
  }

}